@import "../../../../styles/constants";

.categories__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.categories{
   margin-left: 50px;
   @include devices(tablet) {
    margin-left: 0;
    margin-top: 60px;
    }
    h2{ 
        font-size: 32px;
        margin: 0;
        @include devices(tablet) {
            margin-bottom: 10px;
        }
    }
}