.categories__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.categories{
   margin-left: 50px;
    h2{ 
        font-size: 32px;
        margin: 0;
    }
}