@import "../../../styles/constants";

.venues{
    position: relative;
    min-height: 100vh;
    max-width: 80%;
    margin-left: 10%;
    padding: 50px 0 100px 0;
    h1{
        font-size: 60px;
        margin:0;
        margin-bottom: 30px;
    }
}

.venuesGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    @include devices(tablet) {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 40px;
    }
    @include devices(phone) {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        margin-bottom: 50px;
    }   
}