.venues{
    position: relative;
    min-height: 100vh;
    max-width: 80%;
    margin-left: 10%;
    h1{
        font-size: 60px;
    }
}

.venuesGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;   
}