@import "../../../styles/constants";
.footer{
    display: flex;
    align-items: flex-start;
    position:relative;
    width: 100%;
    height: 280px;
    background-color: rgb(170, 170, 170);
    bottom: 0;
    z-index: 99;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: rgb(216, 216, 216);
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
    @include devices(phone) {
        padding-left: 5%;
        padding-right: 5%;
        height: 180px;
    }
    div{
        h3{
            margin: 0;
            font-size: 20px;
            font-weight: 800;
            @include devices(phone) {
               font-size: 16px;
            }
        }
    }
}

.footer__sitemap{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include devices(phone) {
        display: none;
     }
    div{
        display: flex;
        align-items: center;
    }
    h3{
        margin: 0;
        font-size: 20px;
        font-weight: 800;
       
    }
    h4{
        margin: 5px 0;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
        @include devices(phone) {
            font-size: 12px;
         }
    }
}


.footer__subscriptions{
    input{
        height: 30px; 
        @include devices(phone) {
            display: none;
         }
    }
    button{
        height: 30px;
        background-color: gray;
        border: gray;
        cursor: pointer;
        color: white;
        @include devices(phone) {
            display: none;
         }
    }
    div{
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
}

.footer__icons{
    cursor: pointer;
    margin-right: 15px;
}