@import "../../../../styles/constants";

.pastEvents{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    div{
        width: 100%;
    }
}


.pastEvents__header{
    display: flex;
    align-items: center;
    margin-left: 40px;
    @include devices(phone) {
        margin-left: 0px;
    }
    h2{
        padding: 10px;
        margin: 0;
        cursor: pointer;
        @include devices(phone) {
            font-size: 16px;
            margin-left: 0px;
        }
    }
}

.borderActive{
    border-top: 2px solid rgb(148, 148, 148);
    border-right:2px solid rgb(148, 148, 148);
    border-left: 2px solid rgb(148, 148, 148);
}
