@import '../../../styles/_constants';

.navbar{
    margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    padding: 20px;
    z-index: 9999;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
        display: flex;
        align-items: center;
        h2{
            font-size: 20px;
            margin-left: 40px;
            font-family: $josefin-sans;
            cursor: pointer;
            transition: all 0.4s;
            &:hover{
                color: #d33371;
            }
        }
    }
    
}

.navbar__logo{
    cursor: pointer;
}


.navbar--fullWidth{
    padding: 10px;
    width: 100%;
    z-index: 9999;
    position: relative;
    background-color: #000000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div{
        margin-left: 10%;
        margin-right: 10%;
        display: flex;
        align-items: center;
        h2{
            font-size: 20px;
            margin-left: 40px;
            font-family: $josefin-sans;
            cursor: pointer;
            transition: all 0.4s;
            &:hover{
                color: #d33371;
            }
        }
    }
    
}

.navbar__searchBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    background-color: rgb(231, 231, 231);
    width: 240px;
    input{
        border: 0;
        background-color: rgb(231, 231, 231);
        font-family: $josefin-sans;
        &:focus{
            outline: none;
          
        }
    }
}

.navbar__searchIcon{
    cursor: pointer;
}