html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@mixin devices ($breakpoint) { //the name of the mixin is devices  
  @if $breakpoint == phone {    
    @media only screen and (max-width: 640px) {
      @content;
    }
  }

  @if $breakpoint == phablet {
    @media only screen and (max-width: 768px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 1280px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (max-width: 1536px) {
      @content;
    }
  }
}